.wrapper-card {
  height: 20%;

  .background-circul {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0px;
    top: 0px;
    border-radius: 0 0 0 10rem;
    background-color: black;
  }

  ion-card-content {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;

    .typesPokemon {
      display: inline-table;
      text-align: center;
      min-width: 50px;
      background-color: aqua;
      border-radius: 10px;
    }

  }
}

.hearder {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    z-index: -2;

    img {
      position: relative;
      top: 3px;
      right: 25px;
      scale: 1.5;
    }
  }
}
