.wrapper-card {
  height: 20%;
  z-index: -99;
  overflow: visible;

  ion-card-title{
    text-transform: capitalize;
  }

  .wrapper-type {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .typesPokemon {
      text-transform: capitalize;
      text-align: center;
      padding: 5px;
      background-color: blueviolet;
      border-radius: 5px;
      color: white;
      min-width: 80px;
    }

  }
}

.hearder {
  display: flex;
  justify-content: space-between;

  div:nth-child(2) {
    z-index: 0;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      z-index: -1;
    }

    .background-circul {
      position: absolute;
      width: 100px;
      height: 100px;
      right: 0px;
      top: 0px;
      border-radius: 0 0 0 10rem;
      background-color: blueviolet;
      z-index: -2;
    }
  }
}
