<ion-header mode="ios">
  <ion-toolbar [style.--background]="colorNavbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header mode="ios">
  <div class="ion-padding wrapper-content-header" [style.background-color]="colorNavbar">
    <div>

      <div class="content-card-header">
        <ion-card-title>{{pokemons.name}}</ion-card-title>
        <ion-card-title>#{{pokemons.id}}</ion-card-title>
      </div>


      <div class="wrapper-content-type">
        <div class="wrapper-type">

          <p *ngFor="let type of pokemons.types" [style.background-color]="type.type.name | typeColor"
            class="typesPokemon">
            {{type.type.name}}</p>
        </div>
      </div>
    </div>



    <div class="wrapper-img">
      <img [src]="imgUrl" />
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="backgroundCostumer ion-padding ">
    <ion-col>

      <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="about">
        <ion-segment-button value="about">
          <ion-label>Sobre</ion-label>
        </ion-segment-button>
        <ion-segment-button value="stats">
          <ion-label>Status</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="segmentValue === 'about'">
        <div class="wrapper-about-card ion-margin-top">
          <ion-card-content>
            <ion-label>
              {{pokemons.weight}} lbs
            </ion-label>
            <ion-card-subtitle>
              Peso
            </ion-card-subtitle>
          </ion-card-content>
          <ion-card-content>
            <ion-label>
              {{pokemons.height}} ft
            </ion-label>
            <ion-card-subtitle>
              Altura
            </ion-card-subtitle>
          </ion-card-content>
          <ion-card-content>
            <ion-label>
              {{pokemons.base_experience}}
            </ion-label>
            <ion-card-subtitle>
              experiência<br />base
            </ion-card-subtitle>
          </ion-card-content>
        </div>
      </div>

      <div *ngIf="segmentValue === 'stats'">

        <div class="wrapper-stats" *ngFor="let stats of pokemons.stats">
          <ion-label>{{stats.stat.name}}</ion-label>
          <span>{{stats.base_stat}}</span>
          <ion-progress-bar mode="ios" value="{{stats.base_stat | progressBar }}"></ion-progress-bar>
        </div>

      </div>


    </ion-col>
  </ion-row>

</ion-content>
