<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense"  mode="ios">
    <ion-toolbar>
      <ion-title size="large">
        PokemonApi
      </ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <p class="ion-padding-start">Search your pokemon</p>
    </ion-toolbar>

    <ion-toolbar>
      <ion-searchbar class="ion-padding-top"></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <app-card *ngFor="let vasco of pokemon" [pokemons]="vasco"></app-card>

</ion-content>
