<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <div>
    <div class="ion-padding">
      <ion-card-subtitle class="ion-float-right">#{{pokemons.id}}</ion-card-subtitle>

      <ion-card-title>{{pokemons.name}}</ion-card-title>
      <div class="wrapper-type">

        <p *ngFor="let type of pokemons.types" [style.background-color]="" class="typesPokemon">
          {{type.type.name}}</p>

      </div>

    </div>

  </div>

</ion-header>

<ion-content class="wrapper-content" [fullscreen]="true">

  <div class="ion-padding">
    <img [src]="imgUrl"/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</ion-content>
